.link-btn {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
    border-radius: 5px;
    border: 1px solid var(--secondary-border-color);
    padding: 5px 10px;
    cursor: pointer;

    a {
        width: 100%;
        height: 100%;
    }
}